@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


header{
  position: fixed;
  padding: 0;
  left:0;
  width:100%;
  margin:0;
  top:0;
  left:0;

}
#img1{
  display: inline-block;
  float:left;
  padding: 0;
  padding-top: 5px;
  width: 80px;
  margin: auto;

}
.header1{
  text-decoration: none;
  background-color: white;
  padding: 10px 12px;
  height: 100px;
  margin: auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header1 a {
  float: right;
  display: inline-block;
  border: 2px solid #706FD3;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #706FD3;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 16px;
  width: 70px; /* Five links of equal widths */
  text-align: center;

}

.header1 a:hover {
  background-color: #706FD3;
  color: white;
}






body{
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}
main{
  margin:10px;
}

p{
  font-size: 16px;
  line-height: 1.6;
  color: #89898B;
  text-align: center;
}

h1{
  font-family: 'Montserrat';
  font-size: 22px;
  padding: 15px;
  color: #706FD3;
}

h2{
  font-family: 'Montserrat';
  font-size: 18px;
  color: #89898B;
}
#center {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}
/* login form */
.loginInfo{
border-radius: 25px;
border: 2px solid #89898B;
padding: 20px 0 40px;
}

.loginInfo label{
  background-color: white;
  text-align: left;
  font-size: 16px;
  padding: 16px 32px;
  display: inline-block;
  width: 80%;
  height: 20px;
  color: #424242;
}

.loginInfo input{
  background-color: white;
  border: 2px solid #89898B;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  width: 80%;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 10px;
  color:#424242;
}

.submit{
  background-color: white;
  border: 2px solid  #706FD3;
  color:  #424242;
  cursor: pointer;
  margin-top:20px;
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 10px;

}

.submit:hover{
  background-color: #706FD3;
  color: white;
}

.submit > a{
  font: Roboto;
}
