@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  margin:0;
  padding:0;
}

main{
  margin: 10px;
}

div{
  margin: 0;
  font-size: 16px;
  color: #424242;
}
form{
  border-radius: 25px;
  border: 2px solid #89898B;
  padding: 20px 0 40px;
}

h1{
  font-family: 'Montserrat';
  font-size: 22px;
  color: #706FD3;
  margin:10px;
  text-align: center;
}

h2{
  font-family: 'Montserrat';
  font-size: 20px;
  color: #89898B;
  /* text-align: center; */
}

p{
  font-size: 16px;
  line-height: 1.6;
  color: #89898B;
  text-align: center;
}

label{
  background-color: white;
  text-align: left;
  font-size: 16px;
  margin: 0 10%;
  display: inline-block;
  width: 80%;
  height: 20px;
  color: #424242;
}

input{
  background-color: white;
  border: 2px solid #89898B;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin: 0 10%;
  width: 80%;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 10px;
  color:#424242;
}

textarea{
  background-color: white;
  border: 2px solid #89898B;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin: 0 10%;
  width: 80%;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 10px;
  color:#424242;
}

select{
  background-color: white;
  border: 2px solid #89898B;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin: 0 10%;
  width: 80%;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 10px;
  color:#424242;

}

.multipleSelect{
  margin-top:32px;
  border-radius: 0;
  height: 100px;
}

.submit{
margin-top: 40px;

}

 .submit:hover{
  background-color: #706FD3;
  color: white;
}
.submit > a{
  font: 'Roboto';
}
