@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

header{
  position: fixed;
  padding: 0;
  left:0;
  width:100%;
  margin:0;
  top:0;
  left:0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  background-color: white;
}

  .header1{
    position: inline-block;
    text-decoration: none;

    padding: 10px 12px;
    height: 100px;
    /* width: 100vw; */
    /* height: 134px; */
    margin: auto;
    /* overflow: auto; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .img{
    margin: 0;
  }

  .status{
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
  }

  .note{
    position: absolute;
    margin-top: 10px;
    float: right;
  }

  .header1 a {
    float: right;
    display: inline-block;
    border: 2px solid #706FD3;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #706FD3;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 16px;
    width: 70px;
    text-align: center;

 }

.header1 a:hover {
    background-color: #706FD3;
    color: white;
  }

/* ~~~~~~~~~~~~~~~~~ */

body{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  margin:0;
  padding:0;
}

main{
  margin: 10px;
  margin-top: 140px;
  margin-bottom: 50px;
}

div{
  margin: 0;
  font-size: 16px;
  color: #424242;
}

h1{
  font-family: 'Montserrat';
  font-size: 30px;
  padding-top: 50px;
  color: #706FD3;
  text-align: center;
}

h2{
  font-family: 'Montserrat';
  font-size: 20px;
  color: #89898B;
  text-align: center;
}

p{
  font-size: 16px;
  line-height: 1.6;
  color: #89898B;
  text-align: center;
}

/* section{
  border: 2px solid #706FD3;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
} */

/* #center {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
} */
/* ~~~~~~~~~~~~~~~~~ */


#welcomeImg{
  display: flex;
  float:center;
  margin:auto;
  width: 80%;
  height: auto;
  padding-top: 80px;
  border-radius: 25px;
  border: 2px solid #89898B;
  padding: 8px;
}

/* icon box row */
#ptravel{
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 2.0;
  color:  #706FD3;
}

.box {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.box > div {
  background-color: white;
  width: 33%;
  margin: 20px;
  padding: 20px;
  text-align: center;
  flex-grow:1;
  box-sizing: border-box;
}

/* ~~~~~~~~~~~~~~~~~ */

footer{
  position: fixed;
  left:0;
  bottom:0;
  width: 100%;

}
.botnav {
  width: 100%;
  background-color: #706FD3;
  overflow: auto;
  height: 50px;
}

.botnav a {
  float: left;
  display: inline;
  padding-top: 16px;
  padding-bottom: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  width: 20%;
  text-align: center;
}

.botnav a:hover {
  background-color: white;
  color: #706FD3;
}

.chat{
    background-color: #706FD3;
    border: 1px solid #706FD3;
    color: #fff;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;

}